<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partners">
            <h2><span>Partners</span> {{ partners.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{ partners.companyName }}</span>
                </dd>
                <dt><span>User Name</span></dt>
                <dd>
                    <span>{{ partners.userName }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ partners.type }}</span>
                </dd>
                <dt><span>Active Ind</span></dt>
                <dd>
                    <span>{{ partners.activeInd }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partners', partners.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
