<div class="container-fluid">
    <div class="row">
    	<div class="col-md-3">
    		<h5>Partners</h5>
    		<ng-container *jhiHasAnyAuthority ="'ROLE_USER'">
    			<select name="category" id="field_partner" [(ngModel)]="partnerIdValue" (ngModelChange)="companySelection()">
                	<option *ngFor="let partner of partners" [ngValue]="partner.id">{{ partner.companyName }}</option>
            	</select>
    		</ng-container><br>
    		<ng-container *jhiHasAnyAuthority ="'ROLE_PARTNER'">
    			<select name="category" id="field_partner" [(ngModel)]="partnerIdValue" (ngModelChange)="companySelection()">
    				<ng-container *ngFor="let partner of partners">
    					<option *ngIf="partner.userName === account!.login" [ngValue]="partner.id">{{ partner.companyName }}</option>
    				</ng-container>
            	</select>
    		</ng-container>
            
  			<h5>Categories</h5><br>
 			<ul>
	   			<li class="categoryList" *ngFor="let category of companyCategoryList" (click)="searchByCategory(category)">
	   				{{ category }}
	   			</li>
   			</ul>
    		<button type="button" (click)="clearFilter()">Clear filter</button>
		</div>
        <div class="col-md-9" style="padding-left: 20px;">
		    <h2 id="page-heading">
		        <span>Catalogues</span>
		
		        <button *jhiHasAnyAuthority ="['ROLE_PARTNER', 'ROLE_ADMIN']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-catalogue" [routerLink]="['/catalogue/new']">
		            <fa-icon icon="plus"></fa-icon>
		            <span class="hidden-sm-down">
		            Create a new Catalogue
		            </span>
		        </button>
		    </h2>

		    <jhi-alert-error></jhi-alert-error>
		
		    <jhi-alert></jhi-alert>
		    
		    <p [hidden]="!searchMode">Showing results for: {{ currentSearch }}</p>

            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
 
 			<ng-container *jhiHasAnyAuthority ="'ROLE_USER'">
				<div class="mainCat">
				    <div class="alert alert-warning" id="no-result" *ngIf="catalogues?.length === 0">
				        <span>No catalogues found</span>
				    </div>
				    
			    	<div [ngSwitch]="categorySearch">
				    	<div *ngSwitchCase="''">
				    		<div [ngSwitch]="partnerIdValue">
				    			<div *ngSwitchCase="''">
				    				<ul class="arrangeInColumns">
						    			<li *ngFor="let catalogue of catalogues ;trackBy: trackId">
								    		<div class="catElement">
											    <a [routerLink]="['/catalogue', catalogue.id, 'view']">
												    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
												    {{ catalogue.description }}<br>
												    {{ catalogue.sessionDt | date:'fullDate' }}<br>
											    </a>
									    	</div>
								    	</li>
								    </ul>
				    			</div>
				    			<div *ngSwitchDefault>
				    				<ul class="arrangeInColumns">
						    			<li *ngFor="let catalogue of catalogues ;trackBy: trackId">
								    		<div class="catElement" *ngIf="partnerIdValue === catalogue?.partnerId">
											    <a [routerLink]="['/catalogue', catalogue.id, 'view']">
												    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
												    {{ catalogue.description }}<br>
												    {{ catalogue.sessionDt | date:'fullDate' }}<br>
											    </a>
									    	</div>
								    	</li>
								    </ul>
				    			</div>
				    		</div>
				    	</div>
				    	<div *ngSwitchDefault>
				    		<div [ngSwitch]="partnerIdValue">
				    			<div *ngSwitchCase="''">
				    				<ul class="arrangeInColumns">
								    	<li *ngFor="let catalogue of catalogues ;trackBy: trackId">
								    		<div class="catElement" *ngIf="categorySearch.toLowerCase() === catalogue?.category?.toLowerCase()">
								    			<a [routerLink]="['/catalogue', catalogue.id, 'view']">
											    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
											    {{ catalogue.description }}<br>
											    {{ catalogue.sessionDt | date:'fullDate' }}<br>
								    		</div>
								    	</li>
							    	</ul>	
				    			</div>
				    			<div *ngSwitchDefault>
				    				<ul class="arrangeInColumns">
								    	<li *ngFor="let catalogue of catalogues ;trackBy: trackId">
								    		<div class="catElement" *ngIf="partnerIdValue === catalogue?.partnerId && categorySearch.toLowerCase() === catalogue?.category?.toLowerCase()">
								    			<a [routerLink]="['/catalogue', catalogue.id, 'view']">
											    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
											    {{ catalogue.description }}<br>
											    {{ catalogue.sessionDt | date:'fullDate' }}<br>
								    		</div>
								    	</li>
							    	</ul>	
				    			</div>			    		
				    		</div>
			    		</div>
			    	</div>
				</div>
			</ng-container>
			<ng-container *jhiHasAnyAuthority ="'ROLE_PARTNER'">
				<div class="mainCat">
				    <div class="alert alert-warning" id="no-result" *ngIf="catalogues?.length === 0">
				        <span>No catalogues found</span>
				    </div>
	
			    	<div [ngSwitch]="categorySearch">
				    	<div *ngSwitchCase="''">
					    	<ul class="arrangeInColumns">
				    			<li *ngFor="let catalogue of catalogues ;trackBy: trackId">
						    		<div class="catElement" *ngIf="account?.login?.toLowerCase() === catalogue?.username?.toLowerCase()">
									    <a [routerLink]="['/catalogue', catalogue.id, 'view']">
										    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
										    {{ catalogue.description }}<br>
										    {{ catalogue.sessionDt | date:'fullDate' }}<br>
									    </a>
							    	</div>
						    	</li>
						    </ul>
				    	</div>
				    	<div *ngSwitchDefault>
				    		<ul class="arrangeInColumns">
							    <li *ngFor="let catalogue of catalogues ;trackBy: trackId">
							    			
					    			<div class="catElement" *ngIf="categorySearch.toLowerCase() === catalogue?.category?.toLowerCase() && account?.login?.toLowerCase() === catalogue?.username?.toLowerCase()">
									    <a [routerLink]="['/catalogue', catalogue.id, 'view']">
										    <img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"><br>
										    {{ catalogue.description }}<br>
										    {{ catalogue.sessionDt | date:'fullDate' }}<br>
									    </a>
							    	</div>
								</li>
					    	</ul>
			    		</div>
			    	</div>
				</div>
			</ng-container>
			<div *ngIf="catalogues && catalogues.length > 0">
		        <div class="row justify-content-center">
		            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		        </div>
	
		        <div class="row justify-content-center">
		            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
		        </div>
	    	</div>
    	</div>
    </div>
</div>