<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="catalogue">
            <h2><span>Catalogue</span> {{ catalogue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ catalogue.description }}</span>
                </dd>
                <dt><span>Partner Id</span></dt>
                <dd>
                    <span>{{ catalogue.partnerId }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ catalogue.price }}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{ catalogue.duration }}</span>
                </dd>
                <dt><span>Session Dt</span></dt>
                <dd>
                    <span>{{ catalogue.sessionDt }}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{ catalogue.category }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/catalogue', catalogue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
            
            <button type="button"
                    (click)="toBookingUrl()"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Book</span>
            </button>
        </div>
    </div>
</div>
