.mainCat {
  margin-top: 50px;
}

ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  columns: 3;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-left: -40px;
}

.catElement {
  padding: 10px;
  text-align: center;
  margin: auto;
}

.catElement:hover {
  border: 1px solid black;
}

table,
td {
  margin: 0 auto;
  color: black;
}

.sideColumn {
  background-color: #000000;
  color: #ffffff;
  opacity: 45%;
  text-align: center;
}
