<div class="container-fluid">
    <div class="row">
    	<div class="col-md-2">
    			<h5>Categories</h5><br>
				Gym<br><br>
				HIIT<br><br>
				Spin<br><br>
				Swimming<br><br>
				Yoga
		</div>
        <div class="col-md-10" style="padding-left: 20px;">
		    <h2 id="page-heading">
		        <span>Catalogues</span>
		
		        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-catalogue" [routerLink]="['/catalogue/new']">
		            <fa-icon icon="plus"></fa-icon>
		            <span class="hidden-sm-down">
		            Create a new Catalogue
		            </span>
		        </button>
		    </h2>

		    <jhi-alert-error></jhi-alert-error>
		
		    <jhi-alert></jhi-alert>

            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
 
			<div class="mainCat">
			    <div class="alert alert-warning" id="no-result" *ngIf="catalogues?.length === 0">
			        <span>No catalogues found</span>
			    </div>
			    
			    <ul>
				    <li *ngFor="let catalogue of catalogues ;trackBy: trackId">
					    <div class="catElement">
						    <table>
							    <a [routerLink]="['/catalogue', catalogue.id, 'view']">
								    <tr><td><img src="../../../../content/images/sam-moqadam-GC0eSwdO_HM-unsplash.jpg" alt="gym class" width="200"></img></td></tr>
								    <tr><td>{{ catalogue.description }}</td></tr>
								    <tr><td>{{ catalogue.sessionDt }}</td></tr>
							    </a>
						    </table>
					    </div>
				    </li>
				</ul>
			</div>
			<div *ngIf="catalogues && catalogues.length > 0">
		        <div class="row justify-content-center">
		            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		        </div>
	
		        <div class="row justify-content-center">
		            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
		        </div>
	    	</div>
    	</div>
    </div>
</div>
