<div class="row hipster">
        <div [ngSwitch]="isAuthenticated()">
            <div class="introbox" *ngSwitchCase="true">
                <span *ngIf="account"><h1>Welcome back, Gym Master {{ account.firstName }} {{ account.lastName }}!</h1></span>
            	<p class="lead">Recommended for you:</p>
            </div>

            <div class="introbox" *ngSwitchCase="false">
            	<h1>Welcome to Gym Master!</h1>
                To
                <a (click)="login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
				<br><br>
                Not a Gym Master yet?
                <a routerLink="account/register">Sign up with us today</a>
            </div>
        </div>
</div>
