/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  height: 497px;
  //background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background: url('../../content/images/gym_background.png') no-repeat center top;
  background-size: cover;
  width: 100%;
}

.introbox {
  background: rgb(0, 0, 0, 0.45);
  color: #ffffff;
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.arrangeInColumns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  columns: 4;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    //background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: cover;
    width: 100%;
  }
}
